@import '../../../VariaveisSCSS.scss';

.informacoes-do-mes {
	display: flex;
	background-color: $fundo-components;
	box-shadow: 1px 1px 5px 3px $sombras;
	padding: 0.9%;
	border-radius: 25px;
	width: 98%;
	height: 30%;
	margin-top: 1.5%;
	margin-left: 0.5%;
	margin-right: 0.5%;

	svg {
		background-color: transparent;
		font-size: 3.5vh;
	}

	.titulo {
		background-color: transparent;
		width: 100%;
		height: auto;
		font-weight: bold;
		font-size: 3vh;
		text-align: center;
		color: $color-in-linhas;
	}
	
	.card-resumo-mes {
		width: 33%;
		height: auto;
		background-color: $fundo-components;
		border-radius: 20px;
		padding: 0.4%;
		align-items: center;
		overflow: auto;
		margin-left: 0.5%;

		.info-mes {

			.simbol {
				margin-right: 1vh;
				margin-left: 0.6vh;
				display: flex;
			}

			width: 99%;
			height: 21%;
			font-size: 2vh;
			background-color: $fundo-components-light;
			border: 2px solid $fundo-linhas;
			box-shadow: 2px 2px 7px 1px $sombras;
			text-align: left;
			align-items: center;
			margin-top: 2.5%;
			display: flex;
			border-radius: 20px;
			color: $color-in-linhas;
		}
	}
}