@import '../../../../VariaveisSCSS.scss';

#modal-saldo {
	.modal-zerar {
		color: white;
		padding: 1rem;
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 3vh;

		@media screen and (min-max: 768px) {
			height: 300px;
		}

		@media screen and (min-width: 768px) {
			height: 350;
		}

	}
	.linha{
		font-size: 2.5vh;
		display: flex;
		justify-content: center;
		text-align: center;
		gap: 4vh;
	}

	button {
		width: 50%;
		font-size: 1.8vh;
		height: 100%;

		svg {
			font-size: 4vh;
		}
	}

	.modal-editar-saldo {
		display: flex !important;
		justify-content: space-between !important;
	}

	.MuiTypography-root {
		display: flex;
		justify-content: center;

		@media screen and (min-width: 768px) {
			font-size: 3vh !important;
		}
	}
}
