@import '../../VariaveisSCSS.scss';

.analitico {
	margin-top: 5.5vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.conteudo {
		padding: 1vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 40%;
		gap: 1vh;

		.section {
			background-color: $fundo-components;
			height: auto;
			box-shadow: 1px 0px 5px 3px $sombras;
			padding: 1vh;
			border-radius: 4vh;
			margin-left: 0.5%;
			margin-right: 0.5%;
			margin-top: 1%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 3.5vh;

			@media screen and (min-width: 768px) {
				width: 60%;
			}
			
			@media screen and (max-width: 768px) {
				width: 100%;
			}

			.card {
				@media screen and (min-width: 768px) {
					width: 70%;
				}
				
				@media screen and (max-width: 768px) {
					width: 100%;
				}

				.titulo {
					width: 100%;
					height: auto;
					font-weight: bold;
					font-size: 2.6vh;
					text-align: center;
					color: $color-in-linhas;
				}
			
				.grafic {
					width: 100%;
					display: flex;
					@media screen and (min-width: 768px) {
						height: 40vh;
					}
					
					@media screen and (max-width: 768px) {
						height: 40vh;
					}
				}
			
				.mensagem {
					width: auto;
					height: 20vh;
					font-size: 2.5vh;
					display: flex;
					justify-content: center;
					align-items: center;
					color: $color-in-linhas;
				}
			}

			.card-categorias-informacoes-gerais {
				@media screen and (min-width: 768px) {
					width: 70%;
				}
				
				@media screen and (max-width: 768px) {
					width: 100%;
				}
				height: 35vh;
				padding: 1vh;
				border-radius: 4vh;
				margin-left: 0.5%;
				margin-right: 0.5%;
				margin-top: 1%;
				justify-content: center;

				.titulo {
					width: 100%;
					height: auto;
					font-weight: bold;
					font-size: 2.6vh;
					text-align: center;
					color: $color-in-linhas;
					margin-bottom: 1vh;
				}

				.infos {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 1.3vh;

					.info {
						color: #d4d3d3;
						background-color: $fundo-components-light;
						border: 2px solid $fundo-linhas;
						box-shadow: 2px 2px 7px 1px $sombras;
						@media screen and (min-width: 768px) {
							width: 95%;
							font-size: 2vh;
						}
						
						@media screen and (max-width: 768px) {
							width: 100%;
							font-size: 1.6vh;
						}
						height: 4.5vh;
						border-radius: 4vh;
						display: flex;
						align-items: center;
						justify-content: center;
						font-family: 'Roboto','Helvetica Neue','Helvetica','Arial','sans-serif';
						text-align: center;
					}
				}

				.mensagem {
					width: auto;
					height: 70%;
					font-size: 3vh;
					display: flex;
					justify-content: center;
					align-items: center;
					color: $color-in-linhas;
				}
			}
		}
	}
}

