@import '../../../VariaveisSCSS.scss';

.modal-overlay-adiciona {
	z-index: 1;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.6);
}

.modal-adiciona {
	background-color: $fundo-linhas;
	height: 330px;
	padding: 1rem;
	border-radius: 25px;
	color: white;
	border: 1px solid $sombras;
	box-shadow: 5px 4px 7px 1px $sombras;

	@media (max-width: 1850px) {
		height: 340px;
	}

	@media (max-width: 1800px) {
		height: 320px;
	}

	@media (max-width: 1550px) {
		height: 290px;
	}

	@media (max-width: 1350px) {
		height: 270px;
	}

	@media (max-width: 1250px) {
		height: 260px;
	}

	.titulo {
		height: auto;
		background-color: transparent;
		font-weight: bold;
		font-size: 3.5vh;
		text-align: center;
		margin-bottom: 1.7%;
	}

	.inputs {
		display: flex;
		justify-content: center;

		.space {
			margin: 3px;
		}
	}

	.input-descricao {
		margin-top: 2vh;
		justify-content: center;
	}

	.buttons {
		width: 100%;
		align-items: right;
		height: 18vh;
		margin-top: 19px;
		background-color: transparent;
		display: flex;
		justify-content: center;

		button {
			text-align: center;
			font-size: 3vh;
			background-color: $fundo-linhas;
			width: 25%;
			height: 6vh;
			border: 2px solid $fundo-linhas;
			box-shadow: 2px 2px 7px 1px $sombras;
			border-radius: 7px;
			cursor: pointer;
			color: $color-in-linhas;
			margin-left: 2%;
			margin-right: 4%;

			&:hover {
				background-color: #4b4b4b;
			}
		}

		.adicionar {
			margin-right: 5%;
			width: 15%;
			height: 6vh;
			cursor: pointer;

			button {
				width: 100%;
			}

			svg {
				font-size: 5vh;
			}
		}
	}

	.progress {
		margin-top: 2%;
		width: auto;
		height: auto;
	}
}