@import '../../../VariaveisSCSS.scss';

.modal-overlay-adiciona {
	z-index: 1;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.6);
}

.modal-adiciona {
	@media screen and (min-width: 768px) {
		height: 37vh;
	}
	
	@media screen and (max-width: 768px) {
		height: 47vh;
	}
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
	border-radius: 25px;
	background-color: $fundo-linhas;
	color: white;
	border: 1px solid $sombras;
	box-shadow: 5px 4px 7px 1px $sombras;
	display: flex;
	gap: 1vh;

	.titulo {
		height: auto;
		background-color: transparent;
		font-weight: bold;
		font-size: 2.7vh;
		text-align: center;
		margin-bottom: 1.7%;
	}

	.inputs {
		align-items: end;
		display: flex;
		justify-content: center;
		gap: 1vh;
		@media screen and (max-width: 768px) {
			flex-direction: column;
		}

		.space {
			margin: 3px;
		}
	}

	.input-descricao {
		width: 100%;
		text-align: center;
		@media screen and (min-width: 768px) {
			margin-top: 1vh;
		}
	}

	.buttons {
		width: 100%;
		align-items: right;
		height: 7.5vh;
		margin-top: 19px;
		background-color: transparent;
		display: flex;
		justify-content: space-evenly;

		button {
			text-align: center;
			font-size: 2vh;
			background-color: $fundo-linhas;
			width: 14vh;
			height: 6vh;
			border: 2px solid $fundo-linhas;
			box-shadow: 2px 2px 7px 1px $sombras;
			border-radius: 7px;
			cursor: pointer;
			color: $color-in-linhas;

			&:hover {
				background-color: #4b4b4b;
			}
		}

		.adicionar {
			width: 25%;
			height: 6vh;
			cursor: pointer;

			button {
				width: 100%;
			}

			svg {
				font-size: 4vh;
			}
		}
	}

	.progress {
		width: auto;
		height: auto;
	}
}