@import '../../VariaveisSCSS.scss';

.configuracoes  {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 6.5vh;

	.card {
		display: flex;
		margin-top: 6vh;
		background-color: $fundo-components;
		box-shadow: 1px 1px 5px 3px $sombras;
		border-radius: 3vh;
		width: 60%;
		height: 80vh;

		.card-menus {
			align-content: center;
			text-align: center;
			justify-items: center;
			vertical-align: middle;
			width: 20%;
			height: 100%;

			button {
				background-color: $fundo-components;
				color: $color-in-linhas;
				height: 8%;
				width: 100%;
				font-size: 1.7vh;

				&:hover {
					background-color: $fundo-components-light;
				}
			}
		}

		.config {
			height: 100%;
			width: 79%;

			.titulo {
				margin-top: 2vh;
				width: 100%;
				height: auto;
				font-weight: bold;
				font-size: 3vh;
				text-align: center;
				color: $color-in-linhas;
				margin-bottom: 2.5vh;
			}
		}
	}
}