@import '../../../VariaveisSCSS.scss';

.modal-apaga {
	border-radius: 25px;
	color: $color-in-linhas;

	.titulo {
		height: auto;
		background-color: transparent;
		font-weight: bold;
		font-size: 3vh;
		text-align: center;
		margin-bottom: 7%;
	}

	.aviso {
		text-align: center;
		font-size: 2.5vh;
		height: 20%;
		margin-bottom: 3vh;
	}

	.headers {
		display: flex;
		width: 100%;
		height: auto;
		align-items: center;
		justify-content: center;
		font-size: 2vh;

		p {
			width: 33%;
			text-align: center;
		}
	}

	.movimentacao {
		width: 100%;
		background-color: $fundo-linhas;
		text-align: center;
		margin-bottom: 3%;
		margin-top: 1%;
		display: flex;
		border-radius: 10px;
		border: 2px solid $fundo-linhas;
		box-shadow: 2px 2px 7px 1px $sombras;
		align-items: center;
		color: $color-in-linhas;

		.info {
			width: 33%;
			height: 5vh;
			font-size: 1.9vh;
			align-content: center;

			@media screen and (max-width: 768px) {
				font-size: 1.6vh;
			}
		}
	}
}