@import '../../../VariaveisSCSS.scss';

.informacoes-do-dia {
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: $fundo-components;
	box-shadow: 1px 1px 5px 3px $sombras;
	padding: 2%;
	border-radius: 20px;
	width: 98%;
	height: 91.7vh;
	margin-right: 1%;
	margin-top: 2.5%;

	.titulo {
		height: auto;
		background-color: transparent;
		color: $color-in-linhas;
		font-weight: bold;
		font-size: 3.1vh;
		text-align: center;
		margin-bottom: 2vh;
		margin-top: 1vh;
	}

	.card-resumo-dia {
		flex: 1;
		width: 99%;
		min-height: 42vh;
		max-height: 42vh;
		background-color: $fundo-components;
		border-radius: 20px;
		padding: 1.7%;

		svg {
			background-color: transparent;
			font-size: 120%;
		}

		.infos {
			width: 100%;
			display: flex;
			justify-content: space-around;

			.info-dia {
				.total {
					width: 100%;
					display: flex;
					justify-content: center;
					
				}
				flex-wrap: wrap;
				width: 48%;
				font-size: 2.3vh;
				height: 10vh;
				align-items: center;
				justify-content: center;
				background-color: $fundo-components-light;
				margin-bottom: 2%;
				display: flex;
				border-radius: 20px;
				border: 2px solid $fundo-linhas;
				box-shadow: 0px 0px 5px 2px $sombras;
				color: $color-in-linhas;

				svg {
					background-color: transparent;
				}
			}
		}

		.buttons {
			text-align: center;
			height: 7vh;
			margin-top: 0.5vh;
			margin-bottom: 3vh;
			background-color: transparent;
			display: flex;
			justify-content: space-evenly;

			button {
				svg {
					background-color: transparent;
					font-size: 5vh;
				}

				text-align: center;
				font-size: 1.5vh;
				background-color: $fundo-components-light;
				width: 24%;
				height: 12vh;
				border: 2px solid $fundo-linhas;
				box-shadow: 2px 2px 7px 1px $sombras;
				border-radius: 50px;
				cursor: pointer;
				color: $color-in-linhas;
				margin-top: 1vh;

				&:hover {
					background-color: #3e3e3e;
				}
			}
		}

		.topo {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 2vh;

			.saldo {
				margin-right: 2vh;
				justify-content: space-around;
				width: 65%;
				height: 4.8vh;
				font-size: 2.8vh;
				background-color: $fundo-components-light;
				align-items: center;
				text-align: center;
				display: flex;
				border-radius: 20px;
				border: 2px solid $fundo-linhas;
				box-shadow: 2px 2px 7px 1px $sombras;
				color: $color-in-linhas;
	
				svg {
					background-color: transparent;
				}
			}
		}

	}

	.card-movimentacoes {
		width: 100%;
		min-height: 38vh;
		background-color: $fundo-components;
		border-radius: 20px;
		padding: 1.7%;
		overflow: hidden;

		.dica {
			justify-content: center;
			text-align: center;
			background-color: transparent;
			width: 102%;
			height: 6%;
			font-size: 1.7vh;
			display: flex;
			color: $color-in-linhas;
		}

		svg {
			background-color: transparent;
			font-size: 150%;
		}

		.header {
			display: flex;
			font-size: 2vh;
			margin-top: 2vh;
			margin-bottom: 0.5%;
			justify-content: space-evenly;
			background-color: transparent;
			height: auto;
			color: $color-in-linhas;

			p {
				background-color: transparent;
				text-align: right;
			}
		}

		.movimentacoes-diarias {
			height: 72%;
			overflow-y: auto;
			background-color: transparent;
		}

		.movimentacao-dia {
			font-size: 2.3vh;
			width: 98%;
			height: auto;
			background-color: $fundo-components-light;
			text-align: center;
			margin-bottom: 1.5%;
			display: flex;
			border-radius: 20px;
			border: 2px solid $fundo-linhas;
			box-shadow: 2px 2px 7px 1px $sombras;
			align-items: center;
			color: $color-in-linhas;

			svg {
				background-color: transparent;
				font-size: 3vh;
			}

			.icon-movimentacao {
				margin-left: 0.6vh;
				display: flex;
				background-color: transparent;
				width: 8%;
			}

			.descricao-movimentacao {
				background-color: transparent;
				width: 30%;
				font-size: 1.9vh;
			}

			.POSITIVO {
				background-color: transparent;
				width: 30%;
				color: #239d12;
			}

			.NEGATIVO {
				background-color: transparent;
				width: 30%;
				color: #e15734db;
			}

			.buttons {
				display: flex;
				width: 8%;
				background-color: transparent;
			}

			button {
				background-color: transparent;

				&:hover {
					background-color: #ffffff1b;
				}
			}
		}
	}

	.movimentacoes-diarias::-webkit-scrollbar {
		width: 6px;
	}

	.movimentacoes-diarias::-webkit-scrollbar-thumb {
		background: #b36931;
		border-radius: 6px;
	}

	.movimentacoes-diarias::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}