@import '../../../VariaveisSCSS.scss';

.informacoes-do-dia {
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: $fundo-components;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	padding: 2%;
	border-radius: 20px;
	width: 98%;
	height: 91.7vh;
	margin-right: 1%;
	margin-top: 2.5%;

	.titulo {
		height: auto;
		background-color: transparent;
		color: $color-in-linhas;
		font-weight: bold;
		font-size: 3.1vh;
		text-align: center;
		margin-bottom: 1.7%;
	}

	.card-resumo-dia {
		flex: 1;
		width: 99%;
		min-height: 40vh;
		max-height: 40vh;
		background-color: $fundo-components;
		border: 2px solid $sombras;
		box-shadow: 4px 4px 5px 1px $sombras;
		border-radius: 20px;
		padding: 1.7%;
		margin-bottom: 1.5%;

		svg {
			background-color: transparent;
			font-size: 120%;
		}

		.infos {
			justify-content: center;
			width: 100%;

			.info-dia {
				.simbol {
					margin-right: 1vh;
					margin-left: 0.6vh;
					display: flex;
				}

				width: 85%;
				font-size: 2.8vh;
				height: 5vh;
				align-items: center;
				background-color: $fundo-linhas;
				margin-bottom: 2%;
				display: flex;
				border-radius: 10px;
				border: 2px solid $fundo-linhas;
				box-shadow: 2px 2px 7px 1px $sombras;
				color: $color-in-linhas;

				svg {
					background-color: transparent;
				}
			}
		}

		.buttons {
			text-align: center;
			height: 7vh;
			margin-top: 2vh;
			margin-bottom: 3vh;
			background-color: transparent;

			button {
				svg {
					background-color: transparent;
					font-size: 5vh;
				}

				text-align: center;
				font-size: 1.5vh;
				background-color: $fundo-linhas;
				width: 40%;
				height: auto;
				border: 2px solid $fundo-linhas;
				box-shadow: 2px 2px 7px 1px $sombras;
				border-radius: 7px;
				cursor: pointer;
				color: $color-in-linhas;

				&:hover {
					background-color: #3e3e3e;
				}
			}
		}

		.dica {
			justify-content: center;
			text-align: center;
			background-color: transparent;
			width: 102%;
			height: 10%;
			font-size: 1.7vh;
			display: flex;
			margin-bottom: 1vh;
			color: $color-in-linhas;
		}

		.saldo {
			justify-content: center;
			width: 99%;
			height: 4.8vh;
			font-size: 2.8vh;
			background-color: $fundo-linhas;
			align-items: center;
			text-align: center;
			display: flex;
			border-radius: 10px;
			border: 2px solid $fundo-linhas;
			box-shadow: 2px 2px 7px 1px $sombras;
			color: $color-in-linhas;

			svg {
				background-color: transparent;
			}
		}
	}

	.card-movimentacoes {
		width: 100%;
		min-height: 48vh;
		background-color: $fundo-cards;
		border: 2px solid $sombras;
		box-shadow: 4px 4px 5px 1px $sombras;
		border-radius: 20px;
		padding: 1.7%;
		align-items: center;
		overflow: hidden;

		svg {
			background-color: transparent;
			font-size: 150%;
		}

		.header {
			display: flex;
			font-size: 2vh;
			margin-bottom: 0.5%;
			text-align: center;
			background-color: transparent;
			height: auto;

			.header-categoria {
				background-color: transparent;
				width: 30%;
				text-align: right;

			}

			.header-valor {
				background-color: transparent;
				width: 26%;
				text-align: right;
			}

			.header-acoes {
				background-color: transparent;
				width: 30%;
				text-align: right;
			}
		}

		.movimentacoes-diarias {
			height: 82%;
			overflow-y: auto;
			background-color: transparent;
		}

		.movimentacao-dia {
			font-size: 2.3vh;
			width: 98%;
			height: auto;
			background-color: $fundo-linhas;
			text-align: center;
			margin-bottom: 1.5%;
			display: flex;
			border-radius: 10px;
			border: 2px solid $fundo-linhas;
			box-shadow: 2px 2px 7px 1px $sombras;
			align-items: center;
			color: $color-in-linhas;

			svg {
				background-color: transparent;
				font-size: 3vh;
			}

			.icon-movimentacao {
				margin-left: 0.6vh;
				display: flex;
				background-color: transparent;
				width: 8%;
			}

			.descricao-movimentacao {
				background-color: transparent;
				width: 30%;
			}

			.valor-movimentacao {
				background-color: transparent;
				width: 30%;
			}

			.buttons {
				display: flex;
				width: 8%;
				background-color: transparent;
			}

			button {
				background-color: transparent;

				&:hover {
					background-color: #ffffff1b;
				}
			}
		}
	}

	.movimentacoes-diarias::-webkit-scrollbar {
		width: 9px;
	}

	.movimentacoes-diarias::-webkit-scrollbar-thumb {
		background: #b36931;
		border-radius: 6px;
	}

	.movimentacoes-diarias::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}