@import '../../../../VariaveisSCSS.scss';

.modal {
	color: white;
	gap: 1vh;

	.titulo-add-categoria {
		height: auto;
		background-color: transparent;
		font-weight: bold;
		font-size: 3vh;
		text-align: center;
		margin-bottom: 2vh;
	}

	.linha {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: left;

		@media screen and (min-width: 768px) {
			padding-right: 2vh;
			padding-left: 2vh;
		}

		.form-tipo {
			@media screen and (min-width: 768px) {
				width: 47%;
			}
			@media screen and (max-width: 768px) {
				width: 45%;
			}
		}
	}
}