@import '../../../VariaveisSCSS.scss';

.card-filters-data {
	background-color: $fundo-components;
	width: auto;
	height: 8vh;
	padding: 0.7vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media screen and (max-width: 768px) {
		flex-direction: column;
		height: 25vh;
		gap: 0.1vh;
	}
	@media screen and (min-width: 768px) {
		gap: 2vh;
	}

	.filter-data {
		justify-content: center;
		align-items: center;
		display: flex;
	}

	.filter-year-data {
		color: white;
		display: flex;
		justify-content: center;
		height: 4vh;
	}
}