@import '../../../VariaveisSCSS.scss';

.card-filters {
	background-color: $fundo-components;
	width: auto;
	height: 8vh;
	padding: 0.7vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2vh;

	.filter {
		justify-content: center;
		align-items: center;
		display: flex;
	}

	.filter-year {
		color: white;
		display: flex;
		justify-content: center;
		height: 4vh;
	}
}