@import '../../../VariaveisSCSS.scss';

.card-filters {
	width: auto;
	padding: 0.7vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media screen and (max-width: 768px) {
		height: 8vh;
		gap: 0.1vh;
		margin-top: 1vh;
	}
	@media screen and (min-width: 768px) {
		gap: 2vh;
		height: 8vh;
	}

	.filter {
		justify-content: center;
		align-items: center;
		display: flex;
	}
}