@import '../../VariaveisSCSS.scss';

.informacoes-do-dia {
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: $fundo-components;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	padding: 2%;
	border-radius: 20px;
	width: 98%;
	height: 97.5vh;
	margin-right: 1%;
	margin-top: 2.5%;

	.titulo {
		height: auto;
		background-color: transparent;
		font-weight: bold;
		font-size: 25px;
		text-align: center;
		margin-bottom: 1.7%;

		@media (max-width: 1250px) {
			font-size: 22px;
		}
	}

	.card-resumo-dia {
		flex: 1;
		width: 99%;
		min-height: 40vh;
		max-height: 40vh;
		background-color: $fundo-cards;
		border: 2px solid $sombras;
		box-shadow: 4px 4px 5px 1px $sombras;
		border-radius: 20px;
		padding: 1.7%;
		margin-bottom: 1.5%;

		svg {
			background-color: transparent;
			font-size: 120%;
		}

		.info-dia {
			background-color: $fundo-linhas;
			margin-bottom: 2%;
			display: flex;
			border-radius: 10px;
			border: 2px solid $fundo-linhas;
			box-shadow: 2px 2px 7px 1px $sombras;
			color: $color-in-linhas;

			@media (max-width: 1850px) {
				font-size: 25px;
				height: 40px;
			}

			@media (max-width: 1800px) {
				font-size: 23px;
				height: 37px;
			}

			@media (max-width: 1550px) {
				font-size: 21px;
				height: 34px;
			}

			@media (max-width: 1350px) {
				font-size: 19px;
				height: 31px;
			}

			@media (max-width: 1250px) {
				font-size: 17px;
				height: 28px;
			}

			svg {
				background-color: transparent;
			}
		}

		.buttons {
			text-align: center;
			height: 25%;
			margin-bottom: 4%;
			font-size: 65px;
			background-color: transparent;

			@media (max-width: 1800px) {
				margin-top: 19px;
				font-size: 60px;
			}

			@media (max-width: 1550px) {
				margin-top: 15px;
				font-size: 50px;
			}

			@media (max-width: 1350px) {
				margin-top: 10px;
				font-size: 40px;
			}

			@media (max-width: 1250px) {
				margin-top: 5px;
				font-size: 30px;
			}

			button {
				svg {
					background-color: transparent;
					font-size: 50px;

					@media (max-width: 1700px) {
						font-size: 60px;
					}

					@media (max-width: 1650px) {
						font-size: 50px;
					}

					@media (max-width: 1550px) {
						font-size: 40px;
					}

					@media (max-width: 1350px) {
						font-size: 30px;
					}
				}

				text-align: center;
				font-size: 15px;
				background-color: $fundo-linhas;
				width: 35%;
				height: auto;
				border: 2px solid $fundo-linhas;
				box-shadow: 2px 2px 7px 1px $sombras;
				border-radius: 7px;
				cursor: pointer;
				color: $color-in-linhas;

				&:hover {
					background-color: #3e3e3e;
				}

				@media (max-width: 1800px) {
					font-size: 13px;
				}

				@media (max-width: 1550px) {
					font-size: 12px;
				}

				@media (max-width: 1350px) {
					font-size: 11px;
				}

				@media (max-width: 1250px) {
					font-size: 10px;
				}
			}
		}

		.dica {
			justify-content: center;
			text-align: center;
			background-color: transparent;
			width: 100%;
			height: 10%;
			font-size: 18px;
			display: flex;

			@media (max-width: 1850px) {
				font-size: 17px;
			}

			@media (max-width: 1800px) {
				font-size: 15px;
			}

			@media (max-width: 1550px) {
				font-size: 13px;
			}

			@media (max-width: 1350px) {
				font-size: 12px;
			}

			@media (max-width: 1250px) {
				font-size: 9.5px;
			}
		}

		.saldo {
			justify-content: center;
			width: 100%;
			background-color: $fundo-linhas;
			align-items: center;
			text-align: center;
			display: flex;
			border-radius: 10px;
			border: 2px solid $fundo-linhas;
			box-shadow: 2px 2px 7px 1px $sombras;
			color: $color-in-linhas;

			svg {
				background-color: transparent;
			}

			@media (max-width: 1850px) {
				font-size: 34px;
				height: 60px;
			}

			@media (max-width: 1800px) {
				font-size: 30px;
				height: 50px;
			}

			@media (max-width: 1550px) {
				font-size: 26px;
				height: 40px;
			}

			@media (max-width: 1350px) {
				font-size: 22px;
				height: 30px;
			}

			@media (max-width: 1250px) {
				font-size: 20px;
				height: 20px;
			}
		}

		.conteudo {
			font-size: 16px;
			text-align: center;
		}
	}

	.card-movimentacoes {
		width: 100%;
		min-height: 54vh;
		background-color: $fundo-cards;
		border: 2px solid $sombras;
		box-shadow: 4px 4px 5px 1px $sombras;
		border-radius: 20px;
		padding: 1.7%;
		align-items: center;
		overflow: hidden;

		svg {
			background-color: transparent;
			font-size: 150%;
		}

		.header {
			display: flex;
			font-size: 17px;
			margin-bottom: 0.5%;
			text-align: center;
			background-color: transparent;
			height: auto;

			@media (max-width: 1850px) {
				font-size: 17px;
			}

			@media (max-width: 1800px) {
				font-size: 15px;
			}

			@media (max-width: 1550px) {
				font-size: 13px;
			}

			@media (max-width: 1350px) {
				font-size: 11px;
			}

			@media (max-width: 1250px) {
				font-size: 9px;
			}

			.header-categoria {
				background-color: transparent;
				width: 30%;
				text-align: right;

			}

			.header-valor {
				background-color: transparent;
				width: 26%;
				text-align: right;
			}

			.header-acoes {
				background-color: transparent;
				width: 30%;
				text-align: right;
			}
		}

		.movimentacoes-diarias {
			height: 85%;
			overflow-y: auto;
			background-color: transparent;
		}

		.movimentacao-dia {
			width: 98%;
			height: auto;
			background-color: $fundo-linhas;
			text-align: center;
			margin-bottom: 1.5%;
			display: flex;
			border-radius: 10px;
			border: 2px solid $fundo-linhas;
			box-shadow: 2px 2px 7px 1px $sombras;
			align-items: center;
			color: $color-in-linhas;

			svg {
				background-color: transparent;
				font-size: 32px;

				@media (max-width: 1700px) {
					font-size: 32px;
				}

				@media (max-width: 1650px) {
					font-size: 28px;
				}

				@media (max-width: 1550px) {
					font-size: 25px;
				}

				@media (max-width: 1350px) {
					font-size: 21px;
				}
			}

			@media (max-width: 1850px) {
				font-size: 23px;
			}

			@media (max-width: 1800px) {
				font-size: 21px;
			}

			@media (max-width: 1550px) {
				font-size: 19px;
			}

			@media (max-width: 1350px) {
				font-size: 17px;
			}

			@media (max-width: 1250px) {
				font-size: 15px;
			}

			.icon-movimentacao {
				background-color: transparent;
				width: 8%;
			}

			.descricao-movimentacao {
				background-color: transparent;
				width: 30%;
			}

			.valor-movimentacao {
				background-color: transparent;
				width: 30%;
			}

			.buttons {
				display: flex;
				width: 8%;
				background-color: transparent;
			}

			button {
				background-color: transparent;

				&:hover {
					background-color: #ffffff1b;
				}
			}
		}
	}

	.movimentacoes-diarias::-webkit-scrollbar {
		width: 9px;
	}

	.movimentacoes-diarias::-webkit-scrollbar-thumb {
		background: #b36931;
		border-radius: 6px;
	}

	.movimentacoes-diarias::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}