.informacoes-do-dia {
	display: block;
	background-color: #242420;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	padding: 2%;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	margin-left: 1px;


	.titulo {
		height: auto;
		background-color: transparent;
		font-weight: bold;
		font-size: 25px;
		text-align: center;
		margin-bottom: 1.7%;

		@media (max-width: 1250px) {
			font-size: 22px;
		}
	}

	.card-resumo-dia {
		width: 100%;
		height: 45%;
		background-color: #28919C;
		border: 4px solid #726e6e;
		border-radius: 5px;
		padding: 1.7%;
		margin-bottom: 1.5%;
		overflow: hidden;

		svg {
			background-color: transparent;
			font-size: 120%;
		}
		.info-dia {
			background-color: #68797A;
			margin-bottom: 2%;
			display: flex;
			border-radius: 10px;
			box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
			border: 2px double #726e6e;

			@media (max-width: 1850px) {
				font-size: 25px;
				height: 40px;
			}
			@media (max-width: 1800px) {
				font-size: 23px;
				height: 38px;
			}
			@media (max-width: 1550px) {
				font-size: 21px;
				height: 36px;
			}
			@media (max-width: 1350px) {
				font-size: 19px;
				height: 34px;
			}
			@media (max-width: 1250px) {
				font-size: 17px;
				height: 32px;
			}

			svg {
				background-color: transparent;
			}
		}

		.buttons {
			text-align: center;
			height: auto;
			height: 25%;
			margin-bottom: 4%;
			margin-top: 5%;
			button {
				svg {
					background-color: transparent;
					@media (max-width: 1850px) {
						font-size: 65px;
					}
					@media (max-width: 1700px) {
						font-size: 60px;
					}
					@media (max-width: 1650px) {
						font-size: 50px;
					}
					@media (max-width: 1550px) {
						font-size: 40px;
					}
					@media (max-width: 1350px) {
						font-size: 30px;
					}
				}

				text-align: center;
				background-color: #68797A;
				width: 35%;
				border: 4px solid #393939;
				border-radius: 7px;
				box-shadow: 2px 2px 4px #555555;
				
				cursor: pointer;
				&:hover {
					background-color: #92b9bd;
				}
				@media (max-width: 1850px) {
					font-size: 15px;
				}
				@media (max-width: 1800px) {
					font-size: 13px;
				}
				@media (max-width: 1550px) {
					font-size: 11px;
				}
				@media (max-width: 1350px) {
					font-size: 10px;
				}
				@media (max-width: 1250px) {
					font-size: 9px;
				}
			}
		}

		.dica {
			justify-content: center;
			text-align: center;
			background-color: transparent;
			width: 100%;
			height: 10%;
			font-size: 18px;
			display: flex;

			@media (max-width: 1850px) {
				font-size: 17px;
			}
			@media (max-width: 1800px) {
				font-size: 15px;
			}
			@media (max-width: 1550px) {
				font-size: 13px;
			}
			@media (max-width: 1350px) {
				font-size: 12px;
			}
			@media (max-width: 1250px) {
				font-size: 9.5px;
			}
		}

		.saldo{
			justify-content: center;
			height: 10%;
			width: 100%;
			background-color: #68797A;
			font-size: 1.3rem;
			align-items: center;
			text-align: center;
			display: flex;
			border-radius: 10px;
			box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
			border: 2px double #726e6e;

			svg {
				background-color: transparent;
			}
		}

		.conteudo {
			font-size: 16px;
			text-align: center;
		}
	}

	.card-movimentacoes {
		width: 100%;
		height: 54%;
		background-color: #28919C;
		border: 4px solid #726e6e;
		border-radius: 5px;
		padding: 1.7%;
		align-items: center;
		overflow: auto;

		svg {
			background-color: transparent;
			font-size: 150%;
		}

		.header {
			display: flex;
			font-size: 115%;
			margin-bottom: 0.5%;
			text-align: center;
			background-color: transparent;
			height: auto;

			.header-vazio {
				background-color: transparent;
				width: 33%;
			}
			.header-categoria {
				background-color: transparent;
				width: 33%;
			}
			.header-valor {
				background-color: transparent;
				width: 33%;
			}
		}

		.movimentacao-dia {
			width: 100%;
			height: auto;
			background-color: #68797A;
			text-align: left;
			margin-bottom: 1%;
			display: flex;
			border-radius: 10px;
			box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
			border: 2px double #726e6e;
			align-items: center;

			@media (max-width: 1850px) {
				font-size: 25px;
			}
			@media (max-width: 1800px) {
				font-size: 23px;
			}
			@media (max-width: 1550px) {
				font-size: 21px;
			}
			@media (max-width: 1350px) {
				font-size: 19px;
			}
			@media (max-width: 1250px) {
				font-size: 17px;
			}

			.icon-movimentacao {
				background-color: transparent;
				width: 33%;
				text-align: left;
			}

			.descricao-movimentacao {
				background-color: transparent;
				width: 33%;
				text-align: center;
			}

			.valor-movimentacao {
				background-color: transparent;
				width: 33%;
				text-align: right;
			}
		}
	}
}