@import '../../../../VariaveisSCSS.scss';

.graficos {
	display: flex;
	gap: 2vh;

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}

	.card-graficos {
		@media screen and (min-width: 768px) {
			width: 49%;
		}
		@media screen and (max-width: 768px) {
			width: 100%;
		}
		height: auto;
		align-items: center;
	
		.titulo {
			background-color: transparent;
			width: 100%;
			height: auto;
			font-weight: bold;
			font-size: 3vh;
			text-align: center;
			color: $color-in-linhas;
		}
	
		.grafic {
			width: 100%;
			height: 28vh;
			display: flex;
		}
	
		.mensagem {
			margin-top: 7vh;
			font-size: 2.6vh;
			text-align: center;
			display: flex;
			vertical-align: middle;
			color: $color-in-linhas;
		}
	}
}