@import '../../../../VariaveisSCSS.scss';

.graficos {
	display: flex;

	.card-graficos {
		width: 49%;
		height: auto;
		align-items: center;
		overflow: auto;
	
		.titulo {
			background-color: transparent;
			width: 100%;
			height: auto;
			font-weight: bold;
			font-size: 3vh;
			text-align: center;
			color: $color-in-linhas;
		}
	
		.grafic {
			width: 100%;
			height: 28vh;
			display: flex;
		}
	
		.mensagem {
			margin-top: 7vh;
			font-size: 2.6vh;
			text-align: center;
			display: flex;
			vertical-align: middle;
			color: $color-in-linhas;
		}
	}
}