@import '../../VariaveisSCSS.scss';

.app-bar {
	height: 6.5vh;
	background-color: $fundo-linhas;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;

	.modulo {
		width: 90%;
		align-items: center;
		display: flex;
		justify-content: center;
		color: #ffffff;
		font-size: 2.8vh;
	}

	.icons {
		margin-left: 1vh;
		margin-right: 1vh;
		display: flex;
	}
}