@import '../../VariaveisSCSS.scss';

.app-bar {
	height: 6.5vh;
	background-color: $fundo-linhas;
	display: flex;

	.modulo {
		width: 90%;
		align-items: center;
		display: flex;
		justify-content: center;
		color: #ffffff;
		font-size: 4vh;
	}

	.icons {
		margin-left: 1vh;
		margin-right: 1vh;
		display: flex;
	}
}