@import '../../VariaveisSCSS.scss';

.movimentacoes {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.card {
		display: flex;
		margin-top: 6vh;
		background-color: $fundo-components;
		box-shadow: 1px 1px 5px 3px $sombras;
		border-radius: 3vh;
		width: 90%;
		height: 80vh;
		padding: 2vh;

		.filtros {
			width: 20%;
			height: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;

			.filtro {
				margin-bottom: 2vh;
			}
		}

		.listagem {
			width: 80%;
			height: 100%;
		}
	}
}