@import '../../VariaveisSCSS.scss';

.about {
	background-color: #081016;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 2vh;

	.header {
		display: flex;
		padding: 2vh;
		gap: 2vh;

		@media screen and (max-width: 768px) {
			flex-direction: column;
		}

		.voltar-header {
			display: flex;
			align-items: center;
			text-align: center;

			button{
				width: 16vh;
				height: 4vh;
				border-radius: 2vh;
				color: $color-in-linhas;
				background-color: $fundo-components;
				border: 2px solid $fundo-linhas;
				box-shadow: 2px 2px 7px 1px $sombras;
				cursor: pointer;
			}
		}
		.titulo {
			font-size: 4vh;
			align-items: center;
			color: $color-in-linhas;
			width: 100%;
			text-align: center;
			align-items: center;
			display: flex;
		}
	}

	.titulo-card {
		font-size: 3vh;
		align-items: center;
		color: $color-in-linhas;
		text-align: center;
		margin-bottom: 2vh;
	}

	.card {
		background-color: $fundo-components;
		color: #b1b1b1;
		@media screen and (min-width: 768px) {
			width: 60%;
			font-size: 2.5vh;
			text-align: justify;
		}
		
		@media screen and (max-width: 768px) {
			width: 95%;
			font-size: 1.9vh;
			text-align: justify;
		}
		padding: 3vh;
		border-radius: 5vh;
	}
}