@import '../../../VariaveisSCSS.scss';

.lista {
	padding: 1vh;
	height: 30vh;
	display: flex;
	background-color: $fundo-components;
	box-shadow: $sombra-cards;
	border-radius: 3vh;
	margin-top: 6.5vh;

	@media screen and (min-width: 768px) {
		width: 60%;
	}
	
	@media screen and (max-width: 768px) {
		width: 100%;
	}

	.adicionar-planejamento {
		height: 100%;
		width: 30%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 3vh;

		button {
			svg {
				background-color: transparent;
				font-size: 4vh;
			}

			display: flex;
			text-align: center;
			font-size: 1.1vh;
			background-color: $fundo-components-light;
			width: 15vh;
			height: 9vh;
			border: 2px solid $fundo-linhas;
			box-shadow: 2px 2px 7px 1px $sombras;
			border-radius: 50px;
			cursor: pointer;
			color: $color-in-linhas;
			align-items: center;

			&:hover {
				background-color: #3e3e3e;
			}
		}

		.dica-planejamentos {
			color:  $color-in-linhas;
			text-align: center;
			display: flex;
			width: 90%;

			svg {
				margin-right: 0.5vh;
			}
		}
	}

	.lista-planejamentos {
		height: 100%;
		width: 70%;
		align-items: center;
		display: flex;
		flex-direction: column;
		color: $color-in-linhas;
		overflow: hidden;

		.header-listagem {
			width: 95%;
			height: 15%;
			color: $color-in-linhas;
			display: flex;
			align-items: center;
			margin-bottom: 1vh;
			padding-right: 7vh;

			p {
				width: 25%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		.listagem-planejamentos {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 1vh;
			overflow-y: auto;
			padding: 1vh;

			.item-planejamento {
				display: flex;
				align-items: center;
				gap: 1vh;

				button {
					display: flex;
					align-items: center;
					width: 100%;
					height: auto;
					border-radius: 50px;
					box-shadow: 2px 2px 7px 1px $sombras;
					background-color: $fundo-components-light;
					
					.info-planejamento {
						//color: #555; usar essa cor quando for inativo
						width: 25%;
						height: 4vh;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 1.7vh;
	
						svg {
							font-size: 3vh;
						}
					}
				}

				.editar-planejamento {
					width: 8%;
				}
			}
		}
	}

	@media screen and (min-width: 768px) {
		.listagem-planejamentos::-webkit-scrollbar {
			width: 3px;
		}
		
		.listagem-planejamentos::-webkit-scrollbar-thumb {
			background: #acacac;
			border-radius: 6px;
		}
		
		.listagem-planejamentos::-webkit-scrollbar-thumb:hover {
			background: #555;
		}
	}
}