$fundo-cards: #3a7ec1e8;
$fundo-components: #1f1f1f;
$fundo-components-light: #2f2f31;
$sombras: #000000b4;
$fundo-linhas: $fundo-components;
$color-in-linhas: #e5e5e5;
$sombra-cards: 1px 1px 5px 3px $sombras;
