@import '../../VariaveisSCSS.scss';

@mixin grafic {
	padding: 1vh;
	height: 50vh;
	width: 95vh;
	background-color: $fundo-components;
	box-shadow: $sombra-cards;
	border-radius: 3vh;
}

.planejamentos {
	padding: 3vh;
	width: auto;
	display: flex;
	flex-direction: column;
	gap: 3vh;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	margin-top: 6.5vh;

	.lista {
		padding: 1vh;
		height: 30vh;
		width: 95vh;
		background-color: $fundo-components;
		box-shadow: $sombra-cards;
		border-radius: 3%;
	}

	.graficos {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 95vh;
		gap: 3vh;

		.progresso {
			@include grafic;
		}

		.desempenho {
			@include grafic;
		}

		.lista-movimentacoes {
			@include grafic;
		}
	}

	.titulo {
		width: 100%;
		height: auto;
		font-weight: bold;
		font-size: 3vh;
		text-align: center;
		color: $color-in-linhas;
	}
}