@import '../../VariaveisSCSS.scss';

.planejamentos {
	padding: 1vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2vh;
	margin: 0 auto;
	justify-content: center;
	align-items: center;

	.grafic {
		padding: 1vh;
		height: 50vh;
		width: 100%;
		background-color: $fundo-components;
		box-shadow: $sombra-cards;
		border-radius: 3vh;

		@media screen and (min-width: 768px) {
			width: 60%;
		}
		
		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}

	.titulo {
		width: 100%;
		height: auto;
		font-weight: bold;
		font-size: 3vh;
		text-align: center;
		color: $color-in-linhas;
	}
}